body {
  text-align: center;
}
#header {
  background-image: url("./images/the-flatiron-building.png");
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

#footer {
  text-align: left;
}

#made-ny {
  background-image: url("./images/the-flatiron-building.png");
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#footer {
  background-color: dimgray;
}

#footer p, a {
  font-family: helvetica;
  font-size: 11px;
  color: white;
}
